# Carpetas especificadas
BACK/.template.config/
.vs/
BACK/.vscode/
BACK/deploy/
BACK/src/NLayeredApi.1Template.Tests/bin/
BACK/src/NLayeredApi.1Template.Tests/obj/
BACK/src/NLayeredApi.1Template.WebApi/bin/
BACK/src/NLayeredApi.1Template.WebApi/obj/
BACK/.dockerignore
FRONT/node_modules

# Archivos y carpetas comunes de Visual Studio y .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.log
*.tlog
*.vspscc

# Paquetes NuGet y entorno
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Configuración de la aplicación
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json

# Archivos de configuración de contenedores y compilación
Dockerfile
docker-compose*

# Archivos de compilación y dependencias para proyectos de .NET
*.dll
*.exe
*.pdb
*.cache
*.mdb
*.ilk
*.lib
*.obj
*.tlog
*.tmp

# Configuración de Rider y JetBrains (opcional)
.idea/
*.sln.iml
_ReSharper*